@import '../../variables';
.landing-container {
    background: #DCE0E1;
}

.landing-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        margin: 0 auto;
    }
    h1 {
        margin: 0 auto;
        color: $tateBuzzLightYearPurple;
        font-size: 3rem;
    }
    h3 {
        margin: 0 auto
    }
    height: 100vh;
    width: 100%;
    p {
        width: 70vw;
        margin: 0 auto;
    }
    img {
        margin: 0 auto;
    }
    input {
        width: 50vw;
        margin: 1vh auto;
    }
}

.landing-logo {
    width: 90vw;
    height: auto;
}

.polygon-top {
    width: 90vw;
    height: auto;
    // background-color: blue;
    // display: flex;
    // justify-content: center;
}

.rectangle-top {
    cursor: pointer;
    height: 14.20vh;
    width: 90vw;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
}

.triangle-top {
    margin-top: -1px;
    width: 0px;
    height: 0px;
    // border-top: 8vh solid transparent;
    border-right: 90vw solid $secondary;
    border-bottom: 8vh solid transparent;
}

.polygon-middle {
    @extend .polygon-top;
    position: relative;
    z-index: 1;
    width: 100vw;
}

.white-banner {
    width: 100%;
    height: 30.2vh;
    position: absolute;
    background-color: white;
    z-index: -1;
}

.triangle-middle-top {
    margin-top: -1px;
    width: 0px;
    height: 0px;
    // border-top: 8vh solid transparent;
    border-left: 100vw solid #7955A0;
    border-top: 8vh solid #DCE0E1;
    // margin-left: 5vw;
}

.rectangle-middle {
    @extend .rectangle-top;
    cursor: default;
    width: 100vw;
    // height: 10.2vh;
    // margin-left: 5vw;
    background-color: #7955A0;
}

.rectangle-middle2 {
    @extend .rectangle-middle;
    h1 {
        color: #F800C4;
        text-decoration: none;
        font-size: 20vw;
    }
}

.triangle-middle-bottom {
    margin-top: -.5px;
    width: 0px;
    height: 0px;
    // border-top: 8vh solid transparent;
    border-left: 100vw solid #7955A0;
    border-bottom: 8.5vh solid #DCE0E1;
    // margin-left: 5vw;
}

.polygon-bottom {
    @extend .polygon-top
}

.triangle-bottom {
    margin-bottom: -1px;
    width: 0px;
    height: 0px;
    // border-top: 8vh solid transparent;
    border-right: 90vw solid aqua;
    border-top: 8vh solid transparent;
}

.rectangle-bottom {
    cursor: pointer;
    height: 14.20vh;
    width: 90vw;
    background-color: aqua;
}

// .landing-button{
//     background:  $tateBuzzLightYearGreen;
//     padding: 1vh;
//     margin: 1vh auto;
//     width: 20vw;
//     border: 2px black solid;
//     border-radius: 10px;
//     box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
//     // @extend .rectangle-top;
// }
// .landingbuttons{
//     width: 60vw;
//     margin: 5vh auto;
//     display: flex;
//     justify-content: space-between;
// }
.host-top {
    width: 100vw;
    height: 15vh;
    // background-color: red;
    display: flex;
    z-index: 99;
}

.back-arrow {
    display: flex;
    // background-color: white;
    height: auto;
    width: auto;
    align-items: center;
    margin-left: 1.5vw;
}

.left-triangle {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 5vh solid transparent;
    border-right: 7vw solid #561D7C;
    border-bottom: 5vh dashed transparent;
}

.arrow-rectangle {
    cursor: pointer;
    height: 5vh;
    width: 5vw;
    background-color: #561D7C;
}

.host-middle {
    width: 100vw;
    height: 70vh;
    // background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        margin-top: 40px;
    }
}

.host-banner {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-background {
    height: 10vh;
    width: 100vw;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

.host-background2 {
    @extend .host-background;
    background-color: aqua;
}

.text {
    // height: 40vh;
    // width: 40vw;
    // background-color: blue;
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1vh;
}

.rounds {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    button {
        height: 4vh;
        border-radius: 5vh;
        margin-top: 10vh;
    }
}

.username {
    height: 10vh;
    width: 100vw;
}

.host-bottom {
    @extend .host-top;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 99;
}

.forward-arrow {
    @extend .back-arrow;
    margin-right: 1.5vw;
}

.right-triangle {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 5vh solid transparent;
    border-left: 7vw solid #561D7C;
    border-bottom: 5vh solid transparent;
}

.landing-button {
    background-color: $secondary;
    outline: none;
    cursor: pointer;
    min-height: 30px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.699);
    // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.selected {
    @extend .landing-button;
    background: $brand;
    color: white;
    text-shadow: 2px 2px 2px black;
}