@import '../../variables';
.final-results-container {
    background: $accent;
    height: 100vh;
    h2{
        margin: 0 auto;
    }
}
.landing-button{
    overflow: hidden;
}
.loser{
    border: 2px black solid;
    background: $tateBuzzLightYearLightPurple;
    width: 50vw;
    height: 2vh;
    font-size: 1vh;
}