@import '../../variables';
@import '../../components/Host/host';

.top-host2{
    
    @extend .top-host;
    justify-content: center;
    height: 15vh;
}

.middle-host2{
    @extend .middle-host;
    align-items: none;
    height: 60vh;
    justify-content: center;
}

.list{
    height: 55vh;
}

.bottom-host{
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}