$brand: rgb(236, 135, 135);
$secondary: rgb(136, 245, 136);
$accent: rgb(132, 132, 223);
$buttonColor: pink;
$tateBuzzLightYearPurple: #561D7C;
$tateBuzzLightYearGreen: #77BD7B;
$tateBuzzLightYearCream: #F0E0DE;
$tateBuzzLightYearRed:#630F1F;
$tateBuzzLightYearLightPurple:#8585AF;
$tateAlternatePurple1: #015437;
$tateAlternatePurple2: #06AD20;
$tateAlternateGreen1: #94BE9A;
$tateAlternateGreen2: #7E1173;
$tateAlternateGreen3: #280438;
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}