@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=McLaren&display=swap");
$headerFont: "Bowlby One SC",
cursive;
$textFont: "McLaren",
cursive;
$brand: rgb(236,
135,
135);
$brianMainBackground: rgba(255,
255,
255,
0.699);
$secondary: rgb(136,
245,
136);
$accent: rgb(132,
132,
223);
$buttonColor: pink;
$tateBuzzLightYearPurple: #561d7c;
$tateBuzzLightYearGreen: #77bd7b;
$tateBuzzLightYearCream: #f0e0de;
$tateBuzzLightYearRed: #630f1f;
$tateBuzzLightYearLightPurple: #8585af;
$tateAlternatePurple1: #015437;
$tateAlternatePurple2: #06ad20;
$tateAlternateGreen1: #94be9a;
$tateAlternateGreen2: #7e1173;
$tateAlternateGreen3: #280438;
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}