@import '../src/components/FinalResults/finalResults';
@import '../src/components/Host/host';
@import '../src/components/Join/join';
@import '../src/components/Landing/landing';
@import '../src/components/Question/question';
@import '../src/components/RoundResults/roundResults';
@import '../src/components/Vote/vote';
@import './variables';
.App {
    text-align: center;
    background: $brand;
    box-sizing: border-box;
}

html {
    background: $accent;
}

* {
    font-family: $headerFont;
    letter-spacing: .5px;
    font-weight: 250;
}